<% for(var i = 0; i < users.length; i++){ %>
<tr>
    <th scope="row"><%= i + 1 %></th>
    <td><%= users[i].name %></td>
    <td><%= users[i].email %></td>
    <td><%= users[i].gender %></td>
    <td><%= users[i].status %></td>
    <td>
        <a href="/update-user" class="text-dark mx-2"><i class="fas fa-pencil-alt"></i></a>
        <a href="" class="text-dark mx-2"><i class="fas fa-trash-alt"></i></a>
  </td>
  </tr>

  <% } %>
